body {
    font-family: Helvetica, Arial, sans-serif;
    font-size:20px;
    overflow:hidden;
    margin:0px; padding:0px;
    background-color:#ccc;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

container {
    width:1024px; height:768px;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    overflow:hidden;
}

message {
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    font-size: 30px;
}

score {
    color: #000;
    font-size: 22px;
    padding: 20px;
}

sky {
    background-image: url('../images/background.png');
    background-repeat: repeat-x;
    width: 2048px; height: 768px;
    animation: skyanimation 8s linear infinite;
}

platform {
    background-image: url('../images/platform.png');
    background-repeat: repeat-x;
    width: 2048px; height: 44px;
    animation: platformanimation 4s linear infinite;
}

dog {
    background-image: url('../images/dog.png');
    width: 80px; height: 73px;
}

ghost {
    background-image: url('../images/ghost.png');
    width: 66px; height: 80px;
}

.stopanimation {
    animation-play-state: paused;
}

@keyframes skyanimation {
    0% {
        transform: translate(0px, 0px);
    }
    100% {
        transform: translate(-1024px, 0px);
    }
}

@keyframes platformanimation {
    0% {
        transform: translate(0px, 600px);
    }

    100% {
        transform: translate(-1024px, 600px);
    }
}